<ion-header>
  <ion-toolbar>
    <ion-title color="secundary">Añadir una tarea</ion-title>
    <ion-buttons  slot= "start">
      <ion-back-button defaultHref="/tareas"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      <ion-card>
        <ion-card-content>
          <ion-row><ion-card-title>Nombre:</ion-card-title></ion-row>
          <ion-row>
            <mat-form-field appearance="legacy">
              <mat-label>Introduce un título de tarea</mat-label>
              <input matInput [(ngModel)]="name" required ="Título">
              <mat-icon matSuffix>title</mat-icon>
            </mat-form-field>
          </ion-row>

          <ion-row><ion-card-title>Descripción:</ion-card-title></ion-row>
          <ion-row>
            <mat-form-field appearance="legacy">
              <mat-label>Escribe una descripción para la tares</mat-label>
              <input matInput [(ngModel)]="description" required ="Título">
              <mat-icon matSuffix>description</mat-icon>
            </mat-form-field>
          </ion-row>

          <ion-row>
            <button mat-raised-button color="primary" (click) = "createTarea()">Crear Tarea</button>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

</ion-content>
